* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  overflow: hidden;
}
/* Navbar */
.navbar {
  width: 25%;
  height: 100vh;
  padding: 0;
  background-color: #0d6efd;
}
.username {
  top: 50px;
  color: white;
}
.language {
  top: 60px;
  color: #e5e4e2;
  margin-top: 2rem;
  width: 7rem;
  text-align: center;
  background-color: #af005f;
  border-radius: 15px;
}

.logout {
  bottom: 50px;
}
/* End Navbar */

/* Chat section */
.chat-wrapper {
  display: flex;
  flex-direction: row;
  top: 0px;
  max-height: 100vh;
  overflow-y: auto;
}

#chat-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  /* background-color: darkgoldenrod; */
  padding: 25px;
  padding-right: 50px;
  left: 25%;
  top: 0;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  width: calc(100% - 25%);
}

.text-input {
  height: 10%;
  position: fixed;
  bottom: 0px;
  width: calc(100% - 25%);
}
.text-input-element {
  text-align: center;
}
#textbox {
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 0.5rem;
}
#sendbutton {
  margin-left: 0.5rem;
  padding: 0.5rem;
}

/* .chat-area {
  padding-right: 5%;
  width: calc(100% - 25%);
} */

.chat-area {
  padding: 10px;
  border-radius: 10px;
  width: 500px;
}

.text-area {
  float: right;
  width: 40%;
}

.chat-text {
  margin: 0;
  margin-top: 0.5rem;
  padding: 2rem;
  border-radius: 1rem;
}
.time {
  margin: 0;
}
.message {
  padding: 2rem;
  border-radius: 1rem;
  /* border: 2px solid red; */
}
/* End chat section */
